.square {
  border: 1px solid black;
  height: 20px;
  width: 20px;
  text-align: center;
}

.square-empty:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

.square-owner {
  pointer-events: none;
}

.square-button{
   display:inline-block;
   width: 20px;
   height: 20px;
}

.square-selected {
  color: white;
  background-color: black;
}

.square-ship {
  pointer-events: none;
  background-color: black;
}

.square-strike {
  pointer-events: none;
  background-color: green;
}

.square-ship-striked {
  pointer-events: none;
  background-color: red;
}
